@using Microsoft.AspNetCore.Identity
@using FlowersShop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser user = new ApplicationUser();
    if (SignInManager.IsSignedIn(User))
    {
        user = UserManager.Users.First(u => u.Email == UserManager.GetUserName(User));
    }
}

@if (SignInManager.IsSignedIn(User))
{
    
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a style="border-left: 3px double white;">Koszyk &nbsp;<i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" style="border-right: 3px double white; border-left: 3px double white;">Witaj @user.FirstName @user.LastName</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" style="border-right: 3px double white;">Wyloguj się</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" style="border-right: 3px double white; border-left: 3px double white;">Zarejestruj</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" style="border-right: 3px double white;">Zaloguj się</a></li>
    </ul>
}
