@model FlowersShop.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<h2>Edycja</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Zamowienie</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsRealized" />
                    <label asp-for="IsRealized"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
