@model Order

@{
    ViewBag.Title = "Zakończ zamowienie";
    Layout = "_Layout";
}

<h2>Podaj adres na który dostraczymy zamówienie</h2>

<div class="row">
    <div class="col-lg-12">
        <form asp-controller="Orders" asp-action="FinishOrder2">
            <div class="form-horizontal">
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AddressCity" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AddressCity" class="form-control"/>
                        <span asp-validation-for="AddressCity" class="text-danger"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressStreet" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AddressStreet" class="form-control"/>
                        <span asp-validation-for="AddressStreet" class="text-danger"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AdressHouseNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AdressHouseNumber" class="form-control"/>
                        <span asp-validation-for="AdressHouseNumber" class="text-danger"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLocalNumber" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AddressLocalNumber" class="form-control"/>
                        <span asp-validation-for="AddressLocalNumber" class="text-danger"/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AddressZipCode" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="AddressZipCode" class="form-control"/>
                        <span asp-validation-for="AddressZipCode" class="text-danger"/>
                        <input type="hidden" asp-for="Id" Value="@Model.Id"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-default"/>
                </div>
            </div>

        </form>
    </div>
</div>
